@page "/players/signup"
@using Yooresh.Blazor.Village.Models;
@inject Services.IPlayerService _playerService;

@code {
    private CreatePlayerDto CreatePlayerDto { get; set; } = new();
    private bool Result { get; set; }

    private async Task ValidSubmit()
    {
        Result = await _playerService.CreatePlayer(CreatePlayerDto);
    }
}

<div class="main-body">
    <img src="./img/mainBG.jpg" alt="Travian: Legends Castle Background" class="background">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <article>
                    <h1><span>Join the famous</span>EXPERT STRATEGY GAME</h1>
                    <h2>The true MMO pioneer with thousands of real players!</h2>
                </article>
                <div class="box default active">
                    <div class="content">
                        <div class="boxBody">
                            <div class="boxHeader">
                                <div class="boxHeaderText">
                                    <h3>Sign Up</h3>
                                    <p>Feel the sound of drums as you run towards the gates of your enemies. </p>
                                </div>
                            </div>
                            <EditForm Model="@CreatePlayerDto" OnValidSubmit="@ValidSubmit">
                                <DataAnnotationsValidator />
                                <div class="mb-3">
                                    <InputText id="name" class="form-control" placeholder="First Name: John"
                                               @bind-Value="CreatePlayerDto.Name" />
                                    <ValidationMessage For="@(() => CreatePlayerDto.Name)" />
                                </div>
                                <div class="mb-3">
                                    <InputText id="email" class="form-control" placeholder="Email: Email@Domain.com"
                                               @bind-Value="CreatePlayerDto.Email" />
                                    <ValidationMessage For="@(() => CreatePlayerDto.Email)" />
                                </div>
                                <div class="mb-3">
                                    <InputText id="password" class="form-control" placeholder="Password: Minimum length is 5"
                                               @bind-Value="CreatePlayerDto.Password" />
                                    <ValidationMessage For="@(() => CreatePlayerDto.Password)" />
                                    <div id="passwordHelp" class="form-text">Minimum length is 5. Must contain at least 1 digit and 1 char</div>
                                </div>
                                <div class="mb-3">
                                    <InputText id="confirmPassword" class="form-control" placeholder="Confirm Password: Type your password again"
                                               @bind-Value="CreatePlayerDto.ConfirmPassword" />
                                    <ValidationMessage For="@(() => CreatePlayerDto.ConfirmPassword)" />
                                </div>
                                <div class="mb-3">
                                    <input type="captcha" class="form-control" placeholder="Captcha: 4 + 4 = 8" aria-label="captcha">
                                </div>
                                <div id="result">
                                </div>
                                @if (Result != null)
                                {
                                    @* <TestComp Result="@Result"/>*@
                                }
                                <div class="col-12 text-center">
                                    <button id="playNowButton" style="filter:url(#dropShadowPlayNowButton)" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 392 67">
                                            <text x="196" y="41" fill="rgb(254, 160, 0)" text-anchor="middle">PLAY NOW</text>
                                        </svg>
                                    </button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="./img/18885ffb7c67017eefaa (1).png" alt="Travian: Legends Castle Background" class="soldier">
            </div>
        </div>
    </div>
</div>
